@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src:
    local('Noto Sans KR'),
    url('/fonts/NotoSansKR-VariableFont_wght.woff2') format('woff2'),
    url('/fonts/NotoSansKR-VariableFont_wght.woff') format('woff'),
    url('/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype'),
    url('/fonts/NotoSansKR-VariableFont_wght.otf') format('opentype');
}
