:root {
  /* 브랜드 색상 정의 */
  --primary-base: 330, 100%, 50%;
  --secondary-base: 210, 100%, 50%;
  --accent-base: 120, 100%, 60%;

  /* 브랜드 서브 색상 정의 */
  --neutral-white: 0, 0%, 100%; /* #FFFFFF */
  --neutral-100: 0, 0%, 94.1%; /* #EFEFEF */
  --neutral-200: 0, 0%, 79.6%; /* #C9CACA */
  --neutral-300: 0, 0%, 70.2%; /* #B5B5B6 */
  --neutral-400: 220, 3%, 58.6%; /* #8E8D93 */
  --neutral-500: 30, 3%, 34.1%; /* #5C5B60 */
  --neutral-600: 0, 0%, 13.3%; /* #232325 */
  --neutral-black: 0, 0%, 0%; /* #000000 */
}
