:root {
  /* 기본 색상 정의 */
  --error: 0 91% 56%; /* #EA4335 */
  --warning: 45 97% 50%; /* #FBBC05 */
  --text: 0 0% 5%; /* #0D0D0D */

  /* 브랜드 색상 정의 */
  --brand-100: 199.4 95.5% 73.9%;
  --brand-200: 198.4 93.2% 59.6%;
  --brand-300: 198.6 88.7% 48.4%;
  --brand-400: 200.4 98% 39.4%;
}
